<h1 id="tableLabel">Lessons</h1>

<p>This component displays lesson data from database.</p>

<p *ngIf="!lessons"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="lessons">
  <thead>
    <tr>
      <th>Teacher</th>
      <th>Subject</th>
      <th>Classroom</th>
      <th>Course</th>
      <th>Start time</th>
      <th>End time</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let lesson of lessons">
      <td>{{ lesson.teacherName }}</td>
      <td>{{ lesson.subjectName }}</td>
      <td>{{ lesson.classroomName }}</td>
      <td>{{ lesson.courseName }}</td>
      <td>{{ lesson.startTime }}</td>
      <td>{{ lesson.endTime }}</td>
    </tr>
  </tbody>
</table>
