<h1 id="tableLabel">Class</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!classes"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="classes">
  <thead>
    <tr>
      <th>Teacher</th>
      <th>Subject</th>
      <th>Classroom</th>
      <th>Course</th>
      <th>Start time</th>
      <th>End time</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let class of classes">
      <td>{{ class.teacherName }}</td>
      <td>{{ class.subjectName }}</td>
      <td>{{ class.classroomName }}</td>
      <td>{{ class.courseName }}</td>
      <td>{{ class.startTime }}</td>
      <td>{{ class.endTime }}</td>
    </tr>
  </tbody>
</table>
