<p>This component adds class data to database.</p>
<form [formGroup]="form">
  <select formControlName="teachers">
    <option *ngFor="let teacher of teachers" [ngValue]="teacher.idTeacher">
      {{ teacher.lastName}}
    </option>
  </select>
  <select formControlName="subjects">
    <option *ngFor="let subject of subjects" [ngValue]="subject.idSubject">
      {{ subject.subjectName}}
    </option>
  </select>
  <select formControlName="classrooms">
    <option *ngFor="let classroom of classrooms" [ngValue]="classroom.idClassroom">
      {{ classroom.classroomName}}
    </option>
  </select>
  <select formControlName="courses">
    <option *ngFor="let course of courses" [ngValue]="course.idCourse">
      {{ course.courseName}}
    </option>
  </select>
  <button class="btn btn-primary" (click)="submit()">Save</button>
</form>
